<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huffman Coding Compression</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Huffman Coding</h1>
    <h1>Compression Algorithm</h1>
    <input type="file" id="fileInput" accept=".txt" required>
    <button onclick="compress()">Compress</button>
    <button onclick="compress()">Decompress</button> <!-- change to decompress --> 
</body>
</html>
